<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.0.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
    {% if title %}
        <title>{{ title }} - RAnime</title>
    {% else %}
        <title>RAnime</title>
    {% endif %}
</head>
<body class="bg-dark text-light">
    <div class="container">
        <main role="main" class="pb-3">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>